 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Currently working as a consultant, helping clients on topics ranging from embedded firmware for robotics to automated static analysis tools.</p>
                </div>
                <div class="col-lg-4">
                    <p>Like to think I have a knack for quickly learning new and complex topics - a skill particulary honed in during my PhD in theoretical Physics.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://lh3.googleusercontent.com/pw/AL9nZEWyM7iRkCFEf05-ch0i4NkhdYJMzNMGZqKGGfr5Fj52JBAz1G0RpJpRF6Zeer7oj_DnrHzC40TgM3Q2VsM21qokJfeoq8bGkffm0jeNwBmaABHZBoggpsvm4lgXcvrhaQrbwDbs8aqIMs4atJIX6mIrvA=w1278-h958-no?authuser=1" class="btn btn-lg btn-outline">
                        <i class="fa fa-train bullet"></i> Cool train
                    </a>
                </div>
            </div>
        </div>
    </section>
