 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Currently working as a consultant, helping clients on topics ranging from embedded firmware for robotics to automated static analysis tools.</p>
                </div>
                <div class="col-lg-4">
                    <p>Like to think I have a knack for quickly learning new and complex topics - a skill particulary honed in during my PhD in theoretical Physics.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://lh3.googleusercontent.com/pw/AMWts8CFaIkck3WczG7CJ2YmvQ6cKSZzwfL3hYdMIbewMNcRo0vOcaPK1J4K_SUsXRqBwS68EwB-JlFyMMj79Dw_HN-OPSWUStv5pR7fNUVXwpTvVLk4Q34fyd7Y23tNRXqxgUN21wSsA0n2HP-p-XWzpysr0A=w1201-h901-s-no?authuser=0" class="btn btn-lg btn-outline">
                        <i class="fa fa-train bullet"></i> Me + cool train
                    </a>
                </div>
            </div>
        </div>
    </section>
