<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>I am currently working as a consultant, helping clients on topics ranging from embedded firmware for
                    robotics to automated static analysis tools.</p>
            </div>
            <div class="col-lg-4">
                <p> I have a PhD in Physics. Since completing it I have enjoyed learning how software should
                    <i>actually</i> be engineered, with particular enthusiasm for Rust and NixOS.
                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="assets/kostrolenk_CV.pdf" class="btn btn-lg btn-outline">
                    <i class="fa fa-download bullet"></i> Download CV
                </a>
            </div>
        </div>
    </div>
</section>